@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100;300;400;500;600;700;900&display=swap');

$text: #e5ecec;
$background: #090b0b;
$primary: #b3c2c2;
$secondary: #43505a;
$accent: #E72144;

$poppins: 'Poppins', sans-serif;
$notosans: 'Noto Sans Mono', monospace;